body{
    background-image: url("../img/level1.jpg");
    background-size: content;
    background-repeat: repeat;   
}

.titulo {
	width: 500px;
	height: 200px;
	position: absolute;
	top:0;
	bottom: 200px;
	left: 0;
	right: 0;
	margin: auto;
}
.box {
	width: 300px;
	height: 300px;
	position: absolute;
	top:250px;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
}

* {cursor: url(../img/nyan.png), auto !important;} 