{% extends 'base.html' %}

{% block content %}

    <h1 class="text-center mb-4">Enfrenta dos Brainrots</h1>

    {% if error_message %}
      <div class="alert alert-danger text-center">
        <strong>{{ error_message }}</strong>
      </div>
    {% endif %}

    <form method="POST" class="d-flex justify-content-center mb-4">
      <input type="text" name="brainrot1" class="form-control mx-2" placeholder="Brainrot 1" required>
      <span class="mx-2 fs-1 align-self-center">VS</span>
      <input type="text" name="brainrot2" class="form-control mx-2" placeholder="Brainrot 2" required>
      <button type="submit" class="btn btn-primary mx-2">Pelea</button>
    </form>

    {% if winner %}
      <div class="alert alert-success text-center">
        <h2 class="mb-3">¡Ganador!</h2>
        <h3>{{ winner['nombre'] }}</h3>
       <img src="{{ url_for('static', filename='brainrots/' ~ winner['imagen']) }}"
     alt="Imagen del ganador"
     class="img-fluid mt-3">
      </div>
    {% endif %}
{% endblock %}